<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.xiaofeng.playground"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CollpasingToolBarActivity"
            android:label="@string/title_activity_collpasing_tool_bar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.xiaofeng.playground.MainActivity"/>
        </activity>
        <activity
            android:name=".FlowingLayoutActivity"
            android:label="@string/title_activity_flowing_layout"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.xiaofeng.playground.MainActivity"/>
        </activity>
        <activity
            android:name=".FlowingLayoutActivity2"
            android:label="@string/title_activity_flowing_layout2"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.xiaofeng.playground.MainActivity"/>
        </activity>
        <activity
            android:name=".LayoutAnimationActivity"
            android:label="@string/title_activity_layout_animation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.xiaofeng.playground.MainActivity"/>
        </activity>
        <activity
            android:name=".FlowLayoutActivity"
            android:label="@string/title_activity_flow_layout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.xiaofeng.playground.MainActivity"/>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.xiaofeng.playground.MainActivity"/>
        </activity>
        <activity
            android:name=".RotateMoveActivity"
            android:label="@string/title_activity_rotate_move"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.xiaofeng.playground.MainActivity"/>
        </activity>
    </application>

</manifest>
